<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Great Number Game</title>
</head>
<body>
  <h1>Welcome To the Great Number Game!</h1>
  <p>I am thinking of a number between 1-100</p>
  <form action="/index">
    <label for="numgame">Take a Guess</label>
    <input type="text" name="numgame">
    <button type="submit">Guess</button>
  </form>
</body>
</html>